@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    margin: 0 auto;
    font-family: 'roboto';
    /* width: 75%; */
    
    
    

}

.header {
    margin: 0 auto;
    background-color: #1f2937;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 400px;
}

.logo {
    margin-right: auto;
}

.links {
    margin: auto 15px;
    text-decoration: none;
}

.links:hover {
    cursor: pointer;
}



