@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    margin: 0 auto;
    font-family: 'roboto';
    /* width: 75%; */
    
    
    

}

.header {
    margin: 0 auto;
    background-color: #1f2937;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 400px;
}

.logo {
    margin-right: auto;
}

.links {
    margin: auto 15px;
    text-decoration: none;
}

.links:hover {
    cursor: pointer;
}

.main-info{
    display: flex;
    margin: 0 auto;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px 400px;
}

.content {
    margin-right: 20px;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;                      
}

.hero-description {
    
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: auto;
}

.more-info {
    margin: 0 auto;
    padding: 0 400px;
    

}

.character-profiles {
    display: flex;
    
    justify-content: space-around;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    /* margin: auto 20px; */
    
}




